<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>All products</h1>

<a th:href="@{/products}">Добавить</a>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Название</th>
        <th>Стоимость</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"/>
        <td th:text="${product.name}"/>
        <td th:text="${product.price}"/>
        <td>
            <a th:href="@{'/delete/' + ${product.id}}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>